:root {
    background-color: #f4f2f1;
    font-size: 16px;
    font-family: Verdana, Tahoma, sans-serif;
    color: #4b4d48;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

#logo {
    color: #f4f2f1;
}

.links {
    display: flex;
    flex-direction: row;
}

.link {
    transition: .3s;
    width: 100%;
}

a:link, a:visited {
    color: #f4f2f1;
    text-decoration: none;
}

#header {
    background-color: #f4f2f100;
    display: flex;
    top: 0;
    justify-content: space-around;
    padding: 0 5rem;
    align-items: center;
    width: 100vw;
    font-family: Verdana, Tahoma, sans-serif;
}

a:hover, a:active {
    color: #6E452F;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: justify; */
    line-height: 1.3;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.introText {
    height: 80%;
    color: white;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

#takeAStepButton {
    width: 10rem;
    height: 2rem;
    font-size: 1.25rem;
    transition: 0.3s;
    color: #f4f2f1;
    border: none;
}

.infoContainer {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.quote {
    margin: auto;
    height: 15vh;
    /* width: 100vw; */
    background-color: #bec494;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contactMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f2f1;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.25rem;
}

#practiceImageHolder {
    background: 
    linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
    ), url(./images/santabarbaravineyards.jpeg);
    background-size: cover;
    /* background-position: 0 -30vh; */
}

@media screen and (max-width: 600px) {

    #header {
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 1.5rem 0rem;
        gap: 1rem;
    }
    .biggerHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        top: -5vh;
        height: 37vh;
        /* width: 100vw; */
    }

    #logo {
        font-size: 1.3rem;
    }

    .links {
        width: 90vw;
        font-size: 1rem;
        justify-content: space-evenly;
        /* padding: 0rem 1rem; */
    }

    .link {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #introContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 63vh;
        margin: 0 2rem;
    }

    #backgroundImageHolder {
        background: 
        linear-gradient(
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.3)
        ), url(./images/santabarbaravineyards.jpeg);
        background-size: cover;
        right: 10vw;
        /* width: 100vw; */
        /* background-position: 0 -5vh; */
    }

    .text {
        font-size: 12px;
    }

    #intro {
        gap: 15rem;
    }

    .introText {
        font-size: 1.1rem;
    }
    
    #takeAStepButton {
        background-color: #546a20;
    }

    .infoContainer {
        height: 59vh;
    }

    .clinicianImage {
        width: auto;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
    }

    #clinicianAK {
        height: 13rem;
        width: auto;
        padding: 0px 0rem 0 1rem;
        margin: 8px;
    }

    /* .aboutMeContainer {
        padding: 0px 0rem 0 .5rem;
    } */

    .aboutMeContainer {
        gap: 2rem;
    }

    .clinicianSummary {
        padding: 0px 1rem 0 1rem;
    }

    #clinicianSummary {
        visibility: hidden;
        height: 0;
        width: 0;
    }

    p {
        padding: 0px 1rem 0 1rem;
        margin: -10px 9px;
    }

    #contactMe {
        height: 20vh;
        margin: 1rem 2rem;
    }

    .floatingInfo {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .footer {
        font-size: .65rem;
    }

    .listText {
        font-size: 12px;
        font-family: 'Trebuchet MS', Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        line-height: 1.3;
    }

    .practiceContainer {
        padding: 1rem;
    }

    #practiceImageHolder {
        height: 16vh;
    }

}

@media screen and (min-width: 600px) {

    .biggerHeader {
        display: flex;
        align-items: center;
        justify-content: center;
        top: -5vh;
        height: 15vh;
        /* width: 100vw; */
    }
    #backgroundImageHolder {
        background: 
        linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
        ), url(./images/santabarbaravineyards.jpeg);
        background-size: cover;
        /* background-position: 0 -30vh; */
    }

    #header {
        height: 10vh;
        flex-direction: row;
    }

    #logo {
        font-size: 2rem;
        width: 100%;
    }

    .links {
        width: 35vw;
    }

    .link {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .text {
        font-size: 18px;
        /* display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.5;
        font-family: 'Trebuchet MS', Arial, sans-serif;
        -webkit-font-smoothing: antialiased; */
    }

    #introContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 85vh;
        width: 100vw;
    }

    #practiceContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 30vh;
        width: 100vw;
    }

    #intro {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
    }

    #practice {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
    }

    .infoBlock {
        padding: 0 max(5rem, 5vw);
    }

    .introText {
        font-size: 1.5rem;
    }

    #takeAStepButton {
        /* width: 10rem;
        height: 2rem;
        font-size: 1.25rem; */
        background-color: #67822836;
        /* transition: 0.3s;
        color: #f4f2f1;
        border: none; */
    }

    #takeAStepButton:hover {
        background-color: #546a20;
    }

    #takeAStepButton:active {
        background-color: #678228;
        transition: 0.1s;
    }

    .introImage {
        background-image: url(./images/santabarbaravineyards.jpeg);
        width: 50vw;
        height: 70vh;
        background-attachment: fixed;
        background-position: 30vw -15vh;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .quote {
        margin: auto;
        height: 15vh;
        width: 100vw;
        background-color: #bec494;
        border-radius: 2px;
    }

    .infoContainer {
        height: 95vh;
    }

    .practiceContainer {
        height: 65vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
    }

    .aboutMeContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: #EBEEEBff;
    }

    #practiceInfoContainer {
        display: grid;
        height: 90%;
        width: 75vw;
        align-items: flex-start;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 2fr 3fr;
    }

    .listText {
        font-size: 18px;
        margin-left: 33%;
        font-family: 'Trebuchet MS', Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
    }

    ul {
        margin: 2px;
        list-style-type:circle;
    }

    #practiceSummary {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }

    #specialities {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    #ages {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    #issues {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    #communities {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    .clinicianImage {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #clinicianAK {
        height: 90%;
        width: auto;
    }

    .clinicianInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90%;
        overflow-y: scroll;
    }

    #contactMe {
        height: calc(55vh - 1.25rem);
    }

    .floatingInfo {
        position: absolute;
        z-index: 1;
        display: grid;
        grid-template-rows: 1fr 1fr;
        width: 95vw;
        height: 40%;
    }

    #callToAction {
        grid-row: 1 / 2;
        align-self: flex-start;
        justify-self: flex-start;
        padding: 3rem 10rem;
        font-size: 2rem;
    }

    #action {
        grid-row: 2 / 2;
        padding: 0rem 10rem;
        align-self: flex-start;
        justify-self: flex-end;
    }

    #formContainer {
        grid-column: 2 / 3;
        align-self: flex-start;
        justify-self: flex-start;
        width: 90%;
    }

    #contactForm {
        display: grid;
        width: 100%;
        height: 300px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3.25rem 3.25rem 1fr 1.5rem;
        column-gap: 8px;
        row-gap: 8px;
        padding: 3rem 0;
    }

    #firstContainer {
        display: flex;
        flex-direction: column;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #lastContainer {
        display: flex;
        flex-direction: column;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #phoneContainer {
        display: flex;
        flex-direction: column;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #emailContainer {
        display: flex;
        flex-direction: column;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    #messageContainer {
        display: flex;
        flex-direction: column;
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        height: 100%;
    }

    .labelContainer {
        gap: 4px;
    }

    input {
        height: 100%;
        padding: 0 8px;
        font-family: 'Trebuchet MS', Arial, sans-serif;
        font-size: 1rem;
    }

    label {
        font-family: 'Trebuchet MS', Arial, sans-serif;
    }

    #patientMessage {
        height: 90%;
        padding: 8px;
        font-family: 'Trebuchet MS', Arial, sans-serif;
        font-size: 1rem;
    }

    #contactFormSubmit {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
        width: 100px;
        justify-self: center;
        align-self: center;
    }

    .contactMeImage {
        height: calc(75vh - 1.25rem);
        width: 100vw;
        background-repeat: no-repeat;
        background-size: cover;
    }

    p {
        visibility: hidden;
        height: 0;
        width: 0;
    }
}
